@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

#kid-slider {
  height: 100vh;
  overflow: hidden;
}

#kid-slider .kid-item {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
}

#kid-slider .kid-item img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: kidImage;
          animation-name: kidImage;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#kid-slider .kid-item h1 {
  position: absolute;
  color: gainsboro;
  top: 100px;
  left: 150px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-animation-name: kidTitle;
          animation-name: kidTitle;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#kid-slider .kid-active {
  display: block;
}

#kid-slider #kid-prev,
#kid-slider #kid-next {
  width: 80px;
  height: 150px;
  background: gray;
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

#kid-slider #kid-prev {
  left: 0;
}

#kid-slider #kid-next {
  right: 0;
}

#kid-slider #kid-buttons {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

#kid-slider #kid-buttons .kid-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: gray;
  opacity: 0.3;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

#kid-slider #kid-buttons .kid-button-active {
  -webkit-animation-name: kidButton;
          animation-name: kidButton;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kidButton {
  0% {
    background: grey;
  }
  100% {
    background: #575757;
  }
}

@keyframes kidButton {
  0% {
    background: grey;
  }
  100% {
    background: #575757;
  }
}

@-webkit-keyframes kidImage {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes kidImage {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes kidTitle {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes kidTitle {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */